AddDefaultCharset UTF-8
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^resource/(.*)$ resource/$1 [L]
RewriteRule ^ajax/(.*)$ ajax/$1 [L]
RewriteRule ^all/(.*)$ all/$1 [L]
RewriteRule ^bd/(.*)$ bd/$1 [L]
RewriteRule ^account/(.*)$ account/$1 [L]
RewriteRule ^news/(.*)$ news/$1 [L]
RewriteRule ^uploads/(.*)$ uploads/$1 [L]
RewriteRule ^.*$ [NC,L]
RewriteRule ^.*$ index.php [NC,L]